.idea
pkg
Icon?
.DS_Store
TAGS
REVISION
*.tmproj
.settings
.project
.tasks-cache
.svn
log
tmp

log/*.log
tmp/**/*
config/database.yml
actionmailer_config_DONOTVERSION.rb
*DONOTVERSION*
vendor/src/**/*
db/*.sqlite*
db/data.dump

db/data.yml
coverage
doc/app
doc/plugins
thumbs.db
.tmp*.*
